# Gemini API
GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# Gmail credentials used for sending emails
EMAIL_ADDRESS=YOUR_EMAIL_ADDRESS
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD

# Registration email credentials
REGISTER_EMAIL=YOUR_REGISTER_EMAIL
REGISTER_PASSWORD=YOUR_REGISTER_PASSWORD

# Flask Secret Key
SECRET_KEY=YOUR_SECRET_KEY
